<div class="small-1 columns medium-2 columns large-3 columns">
<%= form_for @game do | f | %>
    
    <p>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>

    <%= f.submit %>
<% end %>
</div>